@model BitBookWebApp.Models.ChangePass

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron" style="text-align: left">
        <h3 style="font-family: Rockwell">Change Password</h3>
    </div>
    <div class="container">

    </div>
    <div style="padding: 2.5cm 7cm;">
        @using (Html.BeginForm(FormMethod.Post))
        {
            <form>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="form-group">
                            @Html.PasswordFor(a => a.OldPassword, new { @class = "form-control input-sm", placeholder = "Your current password" })
                            @Html.ValidationMessageFor(a => a.OldPassword)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="form-group">
                            @Html.PasswordFor(a => a.NewPassword, new { @class = "form-control input-sm", placeholder = "Your new password" })
                            @Html.ValidationMessageFor(a => a.NewPassword)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="form-group">
                            @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control input-sm", placeholder = "Re-enter new password" })
                            @Html.ValidationMessageFor(a => a.ConfirmPassword)
                        </div>
                    </div>
                </div>
                <div class="r">
                    <input type="submit" value="Change" class="btn btn-primary">
                </div>

            </form>
        }
    </div>


    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
</body>
</html>
