@using System.Diagnostics
@using BitBookWebApp.Context
@using BitBookWebApp.Models

@{
    Layout = null;
    BasicInfo aUser = new BasicInfo();
    aUser = ViewBag.UserInfo;
    
    BitBookContext db = new BitBookContext();

    string userEmail = "";
    userEmail = Session["email"].ToString();

    var user = db.Users.Where(x => x.Email.Equals(userEmail)).FirstOrDefault();

     var userFriend = db.UserFriends.Where(p => p.UserId == user.Id
                                              && p.FriendId == aUser.UserId).FirstOrDefault();
         
         //db.UserFriends.Where(x => x.User==user.Id);
    
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Facebook Theme Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="~/assets/css/facebook.css" rel="stylesheet">

</head>

<body>

    @if (Session["email"] != null)
    {
        <text>
            Welcome @Session["email"].ToString();
            @Html.ActionLink("Logout", "Logout", "Registration")
        </text>
    }
    else
    {

    }

    <div class="wrapper">
        <div class="box">
            <div class="row row-offcanvas row-offcanvas-left">
                {}
                <!-- sidebar -->
                <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

                    <ul class="nav">
                        <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    </ul>

                    <ul class="nav hidden-xs" id="lg-menu">
                        <li class="active"><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Featured</a></li>
                        <li><a href="~/Registration/RequestF"><i class="glyphicon glyphicon-list"></i> Friend Request</a></li>
                        <li><a href="~/Registration/NumberFriend"><i class="glyphicon glyphicon-paperclip"></i> Friend List</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li>
                    </ul>
                    <ul class="list-unstyled hidden-xs" id="sidebar-footer">
                        <li>
                            <a href="#"><h3>Bootstrap</h3> <i class="glyphicon glyphicon-heart-empty"></i> BitBook</a>
                        </li>
                    </ul>

                    <!-- tiny only nav-->
                    <ul class="nav visible-xs" id="xs-menu">
                        <li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
                        <li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
                        <li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
                        <li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
                    </ul>

                </div>
                <!-- /sidebar -->
                <!-- main right col -->
                <div class="column col-sm-10 col-xs-11" id="main">

                    <!-- top nav -->
                    <div class="navbar navbar-blue navbar-static-top">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="http://usebootstrap.com/theme/facebook" class="navbar-brand logo">b</a>
                        </div>
                        <nav class="collapse navbar-collapse" role="navigation">
                            <form class="navbar-form navbar-left" method="post" action="@Url.Action("SearchUser", "Registration")">
                                <div class="input-group input-group-sm" style="max-width:360px;">
                                    <input class="form-control" placeholder="Search" name="searchTerm" id="srch-term" type="text">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="~/Registration/Home"><i class="glyphicon glyphicon-home"></i> Home</a>
                                </li>
                                <li>
                                    <a href="#postModal" role="button" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Post</a>
                                </li>
                                <li>
                                    <button type="button">
                                        <span class="badge badge-notify">3</span>

                                    </button>

                                </li>
                                <li>
                                    <a href="~/Registration/UserProfile"><span class="badge">@user.FirstName @user.SurName</span></a>

                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("User Info", "BasicInformation")</li>
                                        <li>@Html.ActionLink("Logout", "Logout", "Registration")</li>
                                        <li><a href="">More</a></li>
                                        <li><a href="">More</a></li>
                                        <li><a href="">Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /top nav -->

                    <div class="padding">
                        <div class="full col-sm-9">

                            <!-- content -->
                            <div class="row">

                                <!-- main col left -->

                                <div class="panel panel-default">
                                    <div class="panel-heading"> <h4>Cover Photo</h4></div>
                                    <div class="panel-body">
                                        <p><img src="~/Images/coverPic/@aUser.CoverPicUrl" class="img-responsive" alt="Cover of @aUser.Id"> <a href="#"></a></p>
                                        <div class="clearfix"></div>
                                        <hr>
                                    </div>
                                </div>

                                <div class="col-sm-5">

                                    <div class="panel panel-default">
                                        <div class="panel-thumbnail"><img src="~/Images/profilePic/@aUser.ProfilePicUrl" class="img-responsive" alt="Profile of @aUser.Id"></div>
                                        <div class="panel-body">
                                            <p class="lead">Profile Photo</p>
                                            <p>45 Followers, 13 Posts</p>


                                            @if (userFriend==null)
                                            {
                                             
                                                <form method="post" action="@Url.Action("SendRequest", "Registration")">

                                                    <input type="hidden" name="friendId" value=@aUser.Id>

                                                    <button type="submit" class="btn btn-primary">Add Friend</button>

                                                </form>

                                            }
                                            else
                                            {
                                                if(userFriend.Friendstatus == 1)
                                                {
                                                    //Request sent
                                                    <form method="post" action="@Url.Action("Unfriend", "Registration")">

                                                        <input type="hidden" name="friendId" value=@aUser.Id>

                                                        <button type="submit" class="btn btn-primary">Cancel Request</button>

                                                    </form>
                                                }
                                                else if (userFriend.Friendstatus == 2)
                                                {
                                                    //your are friend and Undfriend
                                                    <form method="post" action="@Url.Action("Unfriend", "Registration")">

                                                        <input type="hidden" name="friendId" value=@aUser.Id>

                                                        <button type="submit" class="btn btn-primary">Undfriend</button>

                                                    </form>
                                                }
                                                else if (userFriend.Friendstatus == 3)
                                                {
                                                    //your are friend and Undfriend
                                                    <form method="post" action="@Url.Action("AcceptRequest", "Registration")">

                                                        <input type="hidden" name="friendId" value=@aUser.Id>

                                                        <button type="submit" class="btn btn-primary">Accept Requesst</button>

                                                    </form>
                                                }
                                                
                                                
                                            }

                                            <p>
                                                <img src="~/assets/img/uFp_tsTJboUY7kue5XAsGAs28.png" height="28px" width="28px">
                                            </p>
                                        </div>
                                    </div>


                                    

                                    






                                </div>

                                <!-- main col right -->
                                <div class="col-sm-7">

                                    <div class="panel panel-default">
                                        <div class="panel-heading"> <h4>Basic Information</h4></div>
                                        <div class="panel-body">
                                            <ul class="list-group">
                                                <li class="list-group-item">About<p class="list-group-item">@aUser.About</p></li>
                                                <li class="list-group-item">Area Of Interest<p class="list-group-item">@aUser.AreaOfInterest</p></li>
                                                <li class="list-group-item">Location<p class="list-group-item">@aUser.Location</p></li>
                                                <li class="list-group-item">Education<p class="list-group-item">@aUser.Education</p></li>
                                                <li class="list-group-item">Experience<p class="list-group-item">@aUser.Experience</p></li>


                                            </ul>
                                        </div>
                                    </div>

                                    @if (userFriend != null)
                                    {

                                        if (userFriend.Friendstatus == 2)
                                        {

                                            var userInfo = db.BasicInfos.Where(x => x.UserId.Equals(aUser.Id)).FirstOrDefault();

                                            var userPosts = db.UserPosts.Where(p => p.UserId == aUser.Id).ToList();



                                            foreach (var item in userPosts)
                                            {

                                                string color = "btn-primary";
                                                var likeStatus = db.LikePosts.FirstOrDefault(a => a.UserId.Equals(user.Id) && a.PostId.Equals(item.Id));
                                                if (likeStatus == null)
                                                {

                                                    color = "btn-primary";

                                                }

                                                else
                                                {
                                                    color = "btn-danger";
                                                }

                                                var posts = db.LikePosts.Where(x => x.PostId.Equals(item.Id)).ToList();
                                                int i = posts.Count();
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4>@item.CurrretTime</h4>
                                                    </div>
                                                    <div class="panel-body">
                                                        <img src="~/Images/profilePic/@userInfo.ProfilePicUrl" class="img-circle pull-right"> <a href="~/Registration/Profile/@item.UserId">@user.FirstName @user.SurName</a>
                                                        <div class="clearfix"></div>
                                                        <hr>

                                                        <p>
                                                            @item.PostText
                                                        </p>
                                                        <div class="panel-thumbnail"><img src="~/Images/postImages/@item.ImageUrl" class="img-responsive"></div>

                                                        <form method="post" action="@Url.Action("LikeUserPost", "Registration")">

                                                            <input type="hidden" name="id" value=@item.Id>

                                                            <button type="submit" class="btn @color">+@i</button>
                                                        </form>
                                                        <div class="input-group-btn">
                                                            <form method="post" action="@Url.Action("WhoLike", "Registration")">

                                                                <input type="hidden" name="id" value=@item.Id>

                                                                <button type="submit" class="btn btn-primary">View list</button>
                                                            </form>
                                                        </div>

                                                        
                                                        <hr>


                                                        @{
                                                //show comment
                                                var post = db.UserComments.Where(x => x.PostId == item.Id).ToList();

                                                if (post != null)
                                                {

                                                    foreach (var idn in post)
                                                    {
                                                        var commentor = db.Users.FirstOrDefault(x => x.Id == idn.UserId);
                                                        var commentorInfo = db.BasicInfos.FirstOrDefault(x => x.Id == idn.UserId);
                                                        if (commentorInfo == null)
                                                        {
                                                            throw new ArgumentNullException("commentorInfo");
                                                        }


                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <img src="~/Images/profilePic/@commentorInfo.ProfilePicUrl" class="img-circle pull-left"> <a href="~/Registration/Profile/@commentor.Id">@commentor.FirstName @commentor.SurName</a>
                                                                <div class="clearfix"></div>
                                                                @idn.PostText
                                                                <hr>
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                                        }





                                                    </div>

                                                </div>

                                            }
                                        }
                                        else
                                        {
                                            <h1>Send friend Request</h1>

                                        }


                                    }







                                    <div class="panel panel-default">
                                        <div class="panel-thumbnail"><img src="~/assets/img/bg_4.jpg" class="img-responsive"></div>
                                        <div class="panel-body">
                                            <p class="lead">Social Good</p>
                                            <p>1,200 Followers, 83 Posts</p>

                                            <p>
                                                <img src="~/assets/img/photo.jpg" height="28px" width="28px">
                                                <img src="~/assets/img/photo.png" height="28px" width="28px">
                                                <img src="~/assets/img/photo_002.jpg" height="28px" width="28px">
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div><!--/row-->

                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="#">Twitter</a> <small class="text-muted">|</small> <a href="#">Facebook</a> <small class="text-muted">|</small> <a href="#">Google+</a>
                                </div>
                            </div>

                            <div class="row" id="footer">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <a href="#" class="pull-right">BitBook</a>
                                    </p>
                                </div>
                            </div>

                            <hr>



                            <hr>


                        </div><!-- /col-9 -->
                    </div><!-- /padding -->
                </div>
                <!-- /main -->

            </div>
        </div>
    </div>


    <!--post modal-->
    <div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ׼/button>
                        Update Status
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form center-block">
                        <div class="form-group">
                            <textarea class="form-control input-lg" autofocus="" placeholder="What do you want to share?"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div>
                        <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Post</button>
                        <ul class="pull-left list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script type="text/javascript" src="~/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
			$('[data-toggle=offcanvas]').click(function() {
				$(this).toggleClass('visible-xs text-center');
				$(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
				$('.row-offcanvas').toggleClass('active');
				$('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
				$('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
				$('#btnShow').toggle();
			});
        });
    </script>
</body>
</html>
