@using BitBookWebApp.Context
@using BitBookWebApp.Models
@model IEnumerable<BitBookWebApp.Models.User>

@{
    Layout = null;


}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Facebook Theme Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="~/assets/css/facebook.css" rel="stylesheet">

</head>

<body>



    <div class="wrapper">
        <div class="box">
            <div class="row row-offcanvas row-offcanvas-left">
                {}
                <!-- sidebar -->
                <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

                    <ul class="nav">
                        <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    </ul>

                    <ul class="nav hidden-xs" id="lg-menu">
                        <li class="active"><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Featured</a></li>
                        <li><a href="#stories"><i class="glyphicon glyphicon-list"></i> Stories</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-paperclip"></i> Saved</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li>
                    </ul>
                    <ul class="list-unstyled hidden-xs" id="sidebar-footer">
                        <li>
                            <a href="#"><h3>Bootstrap</h3> <i class="glyphicon glyphicon-heart-empty"></i> BitBook</a>
                        </li>
                    </ul>

                    <!-- tiny only nav-->
                    <ul class="nav visible-xs" id="xs-menu">
                        <li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
                        <li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
                        <li><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
                        <li><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
                    </ul>

                </div>
                <!-- /sidebar -->
                <!-- main right col -->
                <div class="column col-sm-10 col-xs-11" id="main">

                    <!-- top nav -->
                    <div class="navbar navbar-blue navbar-static-top">
                        <div class="navbar-header">
                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="~/Registration/Home" class="navbar-brand logo">b</a>
                        </div>
                        <nav class="collapse navbar-collapse" role="navigation">
                            <form class="navbar-form navbar-left" method="post" action="@Url.Action("SearchUser", "Registration")">
                                <div class="input-group input-group-sm" style="max-width:360px;">
                                    <input class="form-control" placeholder="Search" name="searchTerm" id="srch-term" type="text">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="~/Registration/Home"><i class="glyphicon glyphicon-home"></i> Home</a>
                                </li>
                                <li>
                                    <a href="#postModal" role="button" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Post</a>
                                </li>
                                <li>
                                    <button type="button">
                                        <span class="badge badge-notify">3</span>

                                    </button>

                                </li>
                                <li>
                                    <a href="~/Registration/UserProfile"><span class="badge">Welcome </span></a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("User Info", "BasicInformation")</li>
                                        <li>@Html.ActionLink("Logout", "Logout", "Registration")</li>
                                        <li><a href="">More</a></li>
                                        <li><a href="">More</a></li>
                                        <li><a href="">Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /top nav -->

                    <div class="padding">
                        <div class="full col-sm-9">

                            <!-- content -->
                            <div class="row">

                                <!-- main col left -->
                                @if (Model != null)
                                {
                                    BitBookContext db = new BitBookContext();
                                    BasicInfo userInfo = new BasicInfo();
                                    <table>
                                        @foreach (var item in Model)
                                        {


                                            userInfo = db.BasicInfos.FirstOrDefault(x => x.UserId.Equals(item.Id));


                                            if (userInfo == null)
                                            {
                                                <div class="panel-body">
                                                    <a href="~/Registration/Profile/@item.Id">
                                                        <a href="~/Registration/Profile/@item.Id">@item.FirstName </a>
                                                        <hr>
                                                    </a>
                                                </div>

                                            }
                                            else
                                            {

                                                <div class="col-sm-5">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">

                                                            @{

                                                string userEmail = "";
                                                userEmail = Session["email"].ToString();

                                                var user = db.Users.Where(x => x.Email.Equals(userEmail)).FirstOrDefault();

                                                var userFriend = db.UserFriends.Where(p => p.UserId == item.Id
                                                                       && p.FriendId == user.Id).FirstOrDefault();

                                                            }

                                                            @if (userFriend == null)
                                                            {

                                                                <form method="post" action="@Url.Action("SendRequest", "Registration")">

                                                                    <input type="hidden" name="friendId" value=@item.Id>

                                                                    <button type="submit" class="btn btn-primary">Add Friend</button>

                                                                </form>

                                                            }
                                                            else
                                                            {
                                                                if (userFriend.Friendstatus == 1)
                                                                {
                                                                    //Request sent
                                                                    <form method="post" action="@Url.Action("AcceptRequest", "Registration")">

                                                                        <input type="hidden" name="friendId" value=@item.Id>

                                                                        <button type="submit" class="btn btn-primary">Accept Request</button>

                                                                    </form>
                                                                }
                                                                else if (userFriend.Friendstatus == 2)
                                                                {
                                                                    //your are friend and Undfriend
                                                                    <form method="post" action="@Url.Action("Unfriend", "Registration")">

                                                                        <input type="hidden" name="friendId" value=@item.Id>

                                                                        <button type="submit" class="btn btn-primary">Undfriend</button>

                                                                    </form>
                                                                }
                                                                else if (userFriend.Friendstatus == 3)
                                                                {
                                                                    //your are friend and Undfriend
                                                                    <form method="post" action="@Url.Action("Unfriend", "Registration")">

                                                                        <input type="hidden" name="friendId" value=@item.Id>

                                                                        <button type="submit" class="btn btn-primary">Cancel Request</button>

                                                                    </form>
                                                                }

                                                            }


                                                        </div>
                                                        <div class="panel-body">
                                                            <a href="~/Registration/Profile/@item.Id">
                                                                <img src="~/Images/profilePic/@userInfo.ProfilePicUrl" style="height: 40px">   <a href="~/Registration/Profile/@item.Id">@item.FirstName </a>
                                                                <div class="clearfix">@userInfo.About</div>
                                                                <hr>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            }


                                            
                                        }

                                    </table>
                                }
                                else
                                {
                                    <p>
                                        @ViewBag.Message
                                    </p>
                                }







                                <!-- main col right -->
                                <div class="col-sm-7">








                                </div>
                            </div><!--/row-->

                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="#">Twitter</a> <small class="text-muted">|</small> <a href="#">Facebook</a> <small class="text-muted">|</small> <a href="#">Google+</a>
                                </div>
                            </div>

                            <div class="row" id="footer">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <a href="#" class="pull-right">BitBook</a>
                                    </p>
                                </div>
                            </div>

                            <hr>



                            <hr>


                        </div><!-- /col-9 -->
                    </div><!-- /padding -->
                </div>
                <!-- /main -->

            </div>
        </div>
    </div>


    <!--post modal-->
    <div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ׼/button>
                        Update Status
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form center-block">
                        <div class="form-group">
                            <textarea class="form-control input-lg" autofocus="" placeholder="What do you want to share?"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div>
                        <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Post</button>
                        <ul class="pull-left list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script type="text/javascript" src="~/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle=offcanvas]').click(function () {
                $(this).toggleClass('visible-xs text-center');
                $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
                $('.row-offcanvas').toggleClass('active');
                $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
                $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
                $('#btnShow').toggle();
            });
        });
    </script>
</body>
</html>
